.container-client {
  background-color: #fff;
  height: 55rem;
}

.hero-client {
  padding: 4rem;
  margin-left: 8rem;
}

.point .card-point {
  position: absolute;
  width: 180px;
  height: 120px;
  background: #fff;
  box-shadow: 4px 4px gray;
  border-radius: 8px;
  padding: 0px 20px;
  top : 215%;
  left:55%;
  z-index: 999;
  justify-content: space-between;
}

